{% extends "jvnchallenge/base.html" %}
{% load static %}

{% block title %}Resources{% endblock %}
{% block header_include %}
    <link rel="stylesheet" type="text/css" href="{% static 'challenge/css/page.css' %}" />
{% endblock %}

{% block content %}

<div class="featurette">
    <div class="container text-center">
      <h2 class="alt-h2 mt-0 mb-3">
        Resources
      </h2>
      <p class="mb-3 text-center">
        Please contact duyet.le (at) jvn.edu.vn
      </p>
      
    </div>
  </div>

{% endblock %}
