{% extends "jvnchallenge/base.html" %}
{% load static %}

{% block header_include %}
    <link rel="stylesheet" type="text/css" href="{% static 'competition/css/base.css' %}" />
{% endblock %}

{% block header_css %}
<style type="text/css">
.tab-pane {
	padding: 20px;
}
</style>
{% endblock %}

{% block content %}


<div class="container">
	<div class="row">
		<div class="text-center">
	    <h3>{{ competition.title }}</h3>
	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div>

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#Overview" aria-controls="home" role="tab" data-toggle="tab">Overview</a></li>
		    <li role="presentation"><a href="#Data" aria-controls="profile" role="tab" data-toggle="tab">Data</a></li>
		    <li role="presentation"><a href="#Prizes" aria-controls="messages" role="tab" data-toggle="tab">Prizes</a></li>
		    <li role="presentation"><a href="#Ranking" aria-controls="messages" role="tab" data-toggle="tab">Ranking</a></li>
		    <li role="presentation"><a href="#Submit" aria-controls="messages" role="tab" data-toggle="tab">Submit Predictions</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="Overview">
				{{competition.content | safe}}

				<hr>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="Data">
		    	
		    <table class="table" style="max-width: 600px">
		    	<thead>
		    		<tr>
		    			<td>#</td>
		    			<td>File name</td>
		    			<td>File size</td>
		    			<td>Download</td>
		    		</tr>
		    	</thead>
		    	<tbody>
				    {% for d in competition.datasets.all %}
				    	<tr>
				    		<td>{{d.id}}</td>
				    		<td><strong><a href="{% url 'competition:download' d.id %}">{{d.file_name}}</a></strong> ({{d.file}})</td> 
				    		<td><i>{{d.file.size}} bytes</i></td>
				    		<td><a href="{% url 'competition:download' d.id %}" class="btn btn-default">Download</a></td>
				    	</tr>
				    {% endfor %}
		    	</tbody>
		    </table>

		    </div>
		    <div role="tabpanel" class="tab-pane" id="Prizes">{{competition.prizes | safe}}</div>
		    <div role="tabpanel" class="tab-pane" id="Ranking">No data</div>
		    <div role="tabpanel" class="tab-pane" id="Submit">
		    	{% if not user.email %}
		    		<div class="alert alert-info">
		    			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		    			<strong>Notice</strong> Please <a href="{% url 'login' %}"><strong>login / register</strong></a> to submit Predictions.
		    		</div>
		    	{% else %}
		    		Make a submission for {{user.username}}
		    	{% endif %}
		    	<form action="" method="POST" class="form-horizontal" role="form">
				{% csrf_token %}
			
					<div class="form-group">
						<label for="inputSubmitFile" class="col-sm-2 control-label">Submit File:</label>
						<div class="col-sm-10">
							<input type="file" name="SubmitFile" id="inputSubmitFile" class="form-control" value="" required="required" pattern="" title="">
						</div>
					</div>
			
					<div class="form-group">
						<div class="col-sm-10 col-sm-offset-2">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>

		    	<hr>
				<!-- <a class="btn btn-primary" href="{% url 'competition:submit' competition.id %}">Submit Predictions</a> -->

				<div class="row">
					<div class="col-md-5">
						<h4>File Format</h4>

						<p>Your submission should be in CSV format. You can upload this in a zip/gz/rar/7z archive, if you prefer.</p>
					</div>
				</div>

			</div>
		  </div>

		</div>
		</div>
	</div>
</div>

{% endblock %}
