{% extends "jvnchallenge/base.html" %}
{% load static %}
{% load humanize %}

{% block header_include %}
    <link rel="stylesheet" type="text/css" href="{% static 'competition/css/base.css' %}" />
    <script type="text/javascript">
    	$(document).ready(function() {
    		$("#Overview img").addClass("img-responsive");

    		$('.nav-tabs a').click(function(e) {
			  e.preventDefault();
			  $(this).tab('show');
			});

			// store the currently selected tab in the hash value
			$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
			  var id = $(e.target).attr("href").substr(1);
			  window.location.hash = id;
			});

			// on load of the page: switch to the currently selected tab
			var hash = window.location.hash;
			$('.nav-tabs a[href="' + hash + '"]').tab('show');
    	})
    </script>
{% endblock %}

{% block header_css %}
<style type="text/css">
.tab-pane {
	padding: 20px;
}
.label-unknown {
  background-color: #777777;
}
.label-unknown[href]:hover,
.label-unknown[href]:focus {
  background-color: #5e5e5e;
}
.label-error {
  background-color: #d9534f;
}
.label-error[href]:hover,
.label-error[href]:focus {
  background-color: #c9302c;
}
.preview {

}
.preview iframe {
	width: 100%;
	height: 400px;
}

.label-ranking-1, .label-ranking-2, .label-ranking-3 {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-ranking-1 {
	background-color: #5cb85c;
}
.label-ranking-2 {
	background-color: #5bc0de;
}
.label-ranking-3 {
	background-color: #ec971f;
}
</style>
{% endblock %}

{% block content %}


<div class="container">
	<div class="row">
		<div class="text-center">
	    <h3>{{ competition.title }}</h3>
	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div>

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#Overview" aria-controls="home" role="tab" data-toggle="tab">Overview</a></li>
		    <li role="presentation"><a href="#Data" aria-controls="profile" role="tab" data-toggle="tab">Data</a></li>
		    <li role="presentation"><a href="#Prizes" aria-controls="messages" role="tab" data-toggle="tab">Prizes</a></li>
		    <li role="presentation"><a href="#Ranking" aria-controls="messages" role="tab" data-toggle="tab">Ranking</a></li>
		    <li role="presentation"><a href="#Submit" aria-controls="messages" role="tab" data-toggle="tab">Submit Predictions</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="Overview">
				{{competition.content | safe}}

				<hr>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="Data">
		    	
		    <table class="table" style="max-width: 600px">
		    	<thead>
		    		<tr>
		    			<td>#</td>
		    			<td>File name</td>
		    			<td>File size</td>
		    			<td>Download</td>
		    		</tr>
		    	</thead>
		    	<tbody>
				    {% for d in competition.datasets.all %}
				    	<tr>
				    		<td>{{d.id}}</td>
				    		<td><strong><a href="{% url 'competition:download' d.id %}">{{d.file_name}}</a></strong> ({{d.file}})</td> 
				    		<td><i>{{d.file.size|filesizeformat}}</i></td>
				    		<td><a href="{% url 'competition:download' d.id %}" class="btn btn-default">Download</a> <a href="{% url 'competition:preview' d.id %}" target="preview_iframe" class="btn btn-default">Preview</a></td>
				    	</tr>
				    {% endfor %}
		    	</tbody>
		    </table>

		    <div class="preview">
		    	<iframe src="{% url 'competition:preview' competition.datasets.first.id %}" name="preview_iframe" frameborder="0"></iframe>
		    </div>

		    </div>
		    <div role="tabpanel" class="tab-pane" id="Prizes">{{competition.prizes | safe}}</div>
		    <div role="tabpanel" class="tab-pane" id="Ranking">
		    	
		    <h4 class="text-center">Submit Ranking</h4>
		    <table class="table text-center">
		    	<tbody>
		    			{% for c in submit_ranking %}
		    				<tr>
		    					<td><span class="label-ranking-{{ forloop.counter }}">{{ forloop.counter | ordinal }}</span></td>
		    					<td>{{c.author}}</td>
		    					<td>{{c.score|intcomma}}</td>
		    					<td>{{c.created_at}}</td>
		    				</tr>
		    			{% endfor %}
		    	</tbody>
		    </table>

		    </div>
		    <div role="tabpanel" class="tab-pane" id="Submit">
		    	{% if not user.email %}
		    		<div class="alert alert-info">
		    			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		    			<strong>Notice</strong> Please <a href="{% url 'login' %}"><strong>login / register</strong></a> to submit Predictions.
		    		</div>
		    	{% else %}
		    		<div class="alert alert-info">
		    		Make a submission for {{user.username}}
		    		</div>
		    	{% endif %}
		    	<form action="{% url 'competition:submit' competition.id  %}" method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
				{% csrf_token %}
			
					<div class="form-group">
						<label for="inputSubmitFile" class="col-sm-2 control-label">Submit File:</label>
						<div class="col-md-4 col-sm-12">
							<input type="file" name="file" id="inputSubmitFile" class="form-control" value="" required="required" pattern="" title="">

							<br>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>

						<div class="col-md-4 col-md-offset-1 col-sm-12">
							<h4>File Format</h4>

							<ul>
								<li>Your submission should be in <strong>CSV</strong> (<code>.csv</code>) format. </li>
								<li>First line is header names.</li>
								<li>Seperate columns by commas (<code>,</code>).</li>
								<li>Maximum <code>10MB</code> upload.</li>
							</ul>
						</div>
					</div>
			
				</form>

		    	<hr>

				<div class="row">
					<div class="col-md-10">
						{% if your_submited %}
							<h4>Your last submission</h4>

							<table class="table">
								{% for submit in your_submited %}
									<tbody>
									<tr>
										<td><time>{{submit.created_at|naturaltime}}</time></td>
										<td>
											<a href="{% url 'competition:preview_submit' submit.id %}" target="_blank">{{submit.file.name}}</a>
											({{submit.file.size|filesizeformat}})</td>
										<td>{{submit.score|intcomma}}</td>
										<td><span class="label label-{{submit.status}}">{{submit.status}}</span></td>
										<td>{{submit.message}}</td>
									</tr>
									</tbody>
								{% endfor %}
							</table>

							
						{% endif %}
					</div>
				</div>

			</div>
		  </div>

		</div>
		</div>
	</div>
</div>

{% endblock %}
