{% extends "jvnchallenge/base.html" %}
{% load static %}
{% load humanize %}

{% block header_include %}
    <link rel="stylesheet" type="text/css" href="{% static 'competition/css/base.css' %}" />
{% endblock %}

{% block content %}



<div class="container">
	<div class="row">
		<div class="text-center">
	    <h3>Competitions</h3>
	</div>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<td>#</td>
					<td>Competition</td>
					<td>Created</td>
			</thead>
			<tbody>
				{% for c in list_competitions %}
					<tr>
						<td>{{c.id}}</td>
						<td>
							<strong>
								{% if not c.is_deadline %} <span class="label label-info">new</span> {% endif %}
								<a href="{% url 'competition:detail' c.id %}">{{c.title}}</a>
							</strong>
							<br />
							Deadline: {{ c.deadline | naturaltime }}
							{% if c.is_deadline %} <span class="label label-default">Closed</span> {% endif %}
						</td>
						<td>
							<time datetime="{{c.created_at}}">{{c.created_at | naturalday}}</time>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
	</div>
</div>

{% endblock %}
