/***** IPAD/TABLET LANDSCAPE *****/
@media (max-width: 1200px) {
    /*** ladding-page ***/
    .navbar-static-top.nav-new .container {width:960px;}
    /* page login and register*/
    .float-box-section .login-box,.float-box-section .signup-box {width:960px}
    /* step-explain-section */
    .step-explain-section .step-detail .container {width:960px;}
    .step-explain-section .quotes-right p {width:405px;}
    /* top-jobs-section */
    .top-jobs-section .job-list.container {width:960px;}
    .top-jobs-section .job-item-show {width:209px;height:167px;background-size: cover;}
    .top-jobs-section .job-item .job-show-2 {background-position: 0px -167px;}
    .top-jobs-section .job-item .job-show-3 {background-position: 0px -334px;}
    .top-jobs-section .job-item .job-show-4 {background-position: 0px -501px;}
    .top-jobs-section .job-item .job-show-5 {background-position: 0px -668px;}
    .top-jobs-section .job-item .job-show-6 {background-position: 0px -835px;}
    .top-jobs-section .job-item .job-show-7 {background-position: 0px -1003px;}
    .top-jobs-section .job-item .job-show-8 {background-position: 0px -1171px;}
    .top-jobs-section .job-item-overlay-upper {width:209px;height:167px;}
    .top-jobs-section .job-item-overlay-inner {width:209px;height:167px;}
    /* reviews-section */
    .review-clients.container {width:960px;}
    .review-clients .review-quote {width:auto;padding:0 15px 0;}
    .slide-reviews .slick-prev {left:-5px;} 
    .slick-slider .slick-next {right:-5px;}
    
    /* review-media */
    .review-media .container {width:960px;}
    .stats-col-left-new .stats-col {width: 150px;}

    /* landing-statistics-section */
    .landing-statistics-section .container {width:960px;}
    .landing-statistics-section .count-job {margin-left:81px;}
    
    /* footer-links-section */
    .footer-links-section.grey-bg .container {width: 960px;}
    .footer-links-parter .container {width: 960px;}
    /* bottom-logo */
    .bottom-logo .container {width: 960px;}
    
    .block-statistics-section .container {width:960px;}
    .block-statistics-section .count-job {margin-left:81px;}
    
}
@media (max-width: 976px) {
    /* head */
    .navbar-static-top.nav-new .container {width:750px;}
    .navbar-static-top.nav-new .menu-item.last {display: none;}
    .navbar-static-top.nav-new .span6 {width:45%;}
    .navbar-static-top.nav-new .btn-connect {width:43%;margin-top:2px;}
    
    /*** ladding-page ***/
    /* page login and register*/
    .float-box-section .login-box,.float-box-section .signup-box {width:750px}
    /* step-explain-section */
    .step-explain-section .step-detail .container {width:750px;}
    .step-explain-section .quotes-right h4 {margin-top:0px;font-size:30px;}
    .step-explain-section .quotes-left h4 {font-size:30px;}
    .step-explain-section .quotes-left {margin-top: 0px;}
    .step-explain-section .quotes-right {padding-left:50px;}
    .step-explain-section .quotes-right p {width:315px;}
    .step-explain-section .quotes-left p {width:360px;}
    .step-explain-section .image-right {padding-left:50px;}
    /* top-jobs-section */
    .top-jobs-section .job-list.container {width:750px;}
    .top-jobs-section .job-item {margin-left:0px;padding-left:56px;width:50%;}
    .top-jobs-section .job-item:first-child {margin-left: 0px;padding-left:56px;}
    .top-jobs-section .job-item-show {width:250px;height:200px;}
    .top-jobs-section .job-item .job-show-2 {background-position: 0px -200px;}
    .top-jobs-section .job-item .job-show-3 {background-position: 0px -400px;}
    .top-jobs-section .job-item .job-show-4 {background-position: 0px -600px;}
    .top-jobs-section .job-item .job-show-5 {background-position: 0px -800px;}
    .top-jobs-section .job-item .job-show-6 {background-position: 0px -1000px;}
    .top-jobs-section .job-item .job-show-7 {background-position: 0px -1200px;}
    .top-jobs-section .job-item .job-show-8 {background-position: 0px -1400px;}
    .top-jobs-section .job-item-overlay-upper {width:250px;height:200px;}
    .top-jobs-section .job-item-overlay-inner {width:250px;height:200px;}
    .top-jobs-section .item-title {padding-right:52px;}
    
    /* reviews-section */
    .review-clients.container {width:750px;}
    .stats-col-left-new .stats-col {width: 16.2%;}
    .slide-reviews .slick-active {opacity: 1;}
    
    /* review-media */
    .review-media .container {width:750px;}
    .stats-col-left-new .stats-col {width: 32.2%;}
    
    /* landing-statistics-section */
    .landing-statistics-section .container {width:750px;}
    .landing-statistics-section .count-job, .landing-statistics-section .count-client {margin:auto;width:375px;}
    
    /* footer-links-section */
    .footer-links-section.grey-bg .container {width: 750px;}
    .footer-links-section.grey-bg .span2 {min-height: 315px;}
    .footer-links-parter .container {width: 750px;}
    /* bottom-logo */
    .bottom-logo .container {width: 750px;}
    .bottom-logo .vlance-logo p {width:73%;}
    
    /*** End ladding-page ***/
    
    /* edit account */
    body.two-columns-left-small {min-width: initial;}
    .account_basic_edit .content-section .col2-right, .account_edit .content-section .col2-right, .account_portfolio_edit .content-section .col2-right{padding-left:0px;}
    .account_basic_edit .content-section.container .col2-left,.account_edit .content-section.container .col2-left,.account_portfolio_edit .content-section.container .col2-left {width:100%;}
    .account_basic_edit .nav-left, .account_edit .nav-left, .account_portfolio_edit .nav-left, .account_verify_information .nav-left, .credit_balance .nav-left {margin-bottom:15px;}
    .account_basic_edit .nav-left li,.account_edit .nav-left li,.account_portfolio_edit .nav-left li {clear: none;float: left;margin-right: 1px;height: 34px;width: auto;padding-right: 0px;padding-left: 0px;}
    .edit-form textarea {min-width:550px;}
    
    /* Credit form */
    .modal-credit {width: 600px;left: 50%; margin-left: -300px;}
    .modal-credit .load-spinner img {margin: 200px 270px;}
    
    /* Bid form */
    .form-bid .container{padding: 10px 10px 10px;}
    .form-bid .dl-horizontal dt{width: inherit;}
    .form-bid .dl-horizontal dd{margin-left: 107px;}
    .form-bid .input-append {margin-left: 11px;}
    .form-bid .input-append input{width: 65%;}
    .form-bid .input-prepend{width: 88%;}
    .form-bid .input-prepend.telephone {width:41%;}
    .form-bid .input-prepend.skype{width:42%;margin-left: 42px;}
    .form-bid label.error{padding: 0px 27px 0px 5px;}
    .form-bid .block-duration{margin-top: 17px;}
    .form-bid .bidtype_description {margin-right: 15px;}
    .form-bid .bidtype_introdescription {margin-right: 15px;}
    .form-bid .form-textarea {width:395px;max-width: 395px;min-width: 330px;}
    
    /* workdii_homepage */
    .headerslider .span6 {width:48%;}
    .main-top-overlay .container {width:750px;}
    .main-top-overlay .col-right {padding-left:10px;}
    .main-top-overlay .col-left h2 {font-size:32px;width:auto;}
    .headerslider p.desc {font-size:16px;}
    
    /* Workroom */
    .overlay-bidform.compact-style {width: 528px; height: 260px; }
    .out-of-bid.compact-style {width: 490px;margin: 25px 0px; padding: 10px 20px 15px;}
    .out-of-bid.compact-style h2 {font-size: 26px;}

    /* email invite */
    .invite-friend .form-invite-email {width:750px;}
    .invite-friend .mail-invited {width:750px;}
    #form-invite-email .network-socail-gmail .button-gmail {padding: 10px 58px 10px 87px;background-position: 59px 12px;margin-left:50px;}
    .form-invite-email .form-input {padding-right:46px;}
    .social-invite-mail {width:750px;}
    .invite-friend .text-email-invited {width:750px;}
    .network-socail-gmail .text-choice {right:20px;}
    .network-socail-gmail .text-note {margin-left:85px;}
    .description_inviteemail #form_list_email {min-height: 85px;max-width: 320px;min-width: 320px;}
    
    /* Category view page */
    .sub-category .item img{border-radius: 3px; min-height: 141px;}
    .top-freelancer .block-top-freelancer{margin-right: 10px; margin-bottom: 10px;}
    .top-freelancer .block-top-freelancer.first{margin-left: 15px;}
    .top-freelancer .block-top-freelancer.last{display: block;}
    .top-freelancer .big-block-top-freelancer{padding-left: 60px;}
    .banner-single-post .container .entry-meta{margin-top: 30px}
    .category-view.container{margin-bottom: 10px;}
    .top-freelancer.container{margin-top: 10px;}
    
    /* proflie freelancer */
    .job-list.job-worked .description {padding-left:31px;}
    
    /* list suggest freelancer */
    .client-view-bottom .open-popup-suggest{width: 175.531px; height: 155px;}
    .client-view-bottom .open-popup-suggest .block-button{margin-top: 45px;}
    .client-view-bottom .open-popup-suggest .block-button a{width: 100px; margin-left: 10px; margin-right: 10px;}
    .freelan-invite img.blur{margin: 0px 46px 0px;}
    
    /* service */
    .block-top-freelancer.last-service{display: none;}
    
    /* Page job view not login */
    .job-show-not-login .project-view-fl .usercard {margin-bottom:20px;}
    
    /* page list-contest */
    .search-results .job-contest .span7 {width:71.446809%;}
    .search-results .job-contest .span5 {width:26.425532%;}
    .search-results .product-fl {display: none;}
    .search-results .product-fl.no-apply {display: initial;}
    .search-results .product-fl.more.apply-fl {display: initial;float:right;}
    
    /* contest */
    .job_contest_view .profile-contest {width:50%;margin:auto;}
    .job_contest_view .bid-contest {width:222px;margin:auto;margin-bottom:20px;}
    .information-contest .client-bidding-between span {display: initial;}
    
    .progress-contest .step {padding-left:0px;padding-right: 45px;text-align: center;}
    .progress-contest .step.last {width:180px;}
    .create-contest .header .container {width:750px;}
    .create-contest .progress-contest .container {width:750px;}
    .create-contest .header .side-right img {height:auto;}
    .progress-contest .step.first {padding-right:45px;}
    
     /* huong dan khach hang dang viec */
    .block-statistics-section .container {width:750px;}
    .block-statistics-section .count-job, .block-statistics-section .count-client {margin:auto;width:375px;}
     
    
}


/***** IPHONE/MOBILE LANDSCAPE *****/
@media (max-width: 768px) {
    /* Hide some blocks */
    body > a[title=SumoMe] {height: 0 !important;width: 0 !important;}

    /* head */
    .navbar-static-top.nav-new .span6 {margin-top:0px;}
    .navbar-static-top.nav-new .btn-connect {float:none;width:70%;}
    
    /*** ladding-page ***/
    .navbar-static-top.nav-new .container {width:620px;}
    /* page login and register*/
    .float-box-section .login-box,.float-box-section .signup-box {width:620px}
    /* step-explain-section */
    .step-explain-section .step-detail .container {width:620px;}
    .step-explain-section .quotes-left p {width:auto;}
    .step-explain-section .quotes-right {padding-left:28px;}
    .step-explain-section .image-right {padding-left:30px;}
    /* top-jobs-section */
    .top-jobs-section .job-list.container {width:620px;}
    .top-jobs-section .job-item {padding-left:23px;}
    .top-jobs-section .job-item:first-child {padding-left:20px;}
    .top-jobs-section .item-title {padding-right:20px;}
    
    /* reviews-section */
    .review-clients.container {width:620px;}
    .review-clients .review-quote {width:220px;}
    .stats-col-left-new .stats-col {width: 32.9121%;}
    
    /* review-media */
    .review-media .container {width:620px;}
    
    /* landing-statistics-section */
    .landing-statistics-section .container {width:620px;}
    .landing-statistics-section .count-job, .landing-statistics-section .count-client {width:310px;}
    
    /* footer */
    footer .category-block.span4{display: none;}
    footer .right-footer-block.span8 {width: 100%;}
    footer .right-footer-block.span8 .sub-col {width: 46%;}
    footer .right-footer-block.span8 .sub-col.footer-fl {margin-left: 0;}
    
    /* footer-links-section */
    .footer-links-section.grey-bg .container {width: 620px;}
    .footer-links-parter .container {width: 620px;}
    
    /* bottom-logo */
    .bottom-logo .container {width: 620px;}
    
    /*** End ladding-page ***/
    
    /* Configuration page */
    .two-columns-left-small .col2-left{ float: left; width: 100%;}
    .two-columns-left-small .col2-left .nav-left li{clear: initial; float: left;height:initial; margin-right: 1px; width: initial; border-radius: 0;}
    .two-columns-left-small .col2-right.span10 {padding-left: 0; width: 100%; margin-left: 0;}
    
    /* edit account */ 
    .account_edit .edit-form .dl-horizontal dt {margin-bottom:5px;padding-top:20px;text-align: left;float:none;}
    .account_edit .edit-form .dl-horizontal dd {margin-left:0px;}
    .edit-form textarea {min-width:400px;}
    .edit-form .dl-horizontal dt {text-align: left;}
    
    /* Create job page */
    .create-job .left-side {width: 100%;}
  
    /* Credit form */
    .modal-credit {width: 320px;left: 50%; margin-left: -160px;}
    .modal-credit.fade.in {top:2%;}
    .modal-credit .load-spinner img {margin: 130px 130px;}
    .modal-credit .screen-confirm .modal-body {padding: 15px;}
    .modal-credit .screen-confirm .preview {display: none;}
    
    /* Bid form*/
    .form-bid .span7 .hr-line-0 {display: inherit;}
    .form-bid .hr-line-10 {margin: 5px 127px 18px;}
    .form-bid .dl-horizontal {height:40px;}
    .form-bid .dl-horizontal dt{width: 40%; margin-top: 13px;text-align:right;}
    .form-bid .dl-horizontal dd{width: 32%; margin-left: 290px;}
    .form-bid .input-append{margin-left:0px;margin-bottom: 1px;}
    .form-bid .input-prepend input{width: 73%;padding: 10px 20px 10px 10px;}
    .form-bid label.error.contact{position: relative;}
    .form-bid label.error{padding: 0px 62px 0px 5px;}
    .form-bid .input-prepend.telephone {width:48%;}
    .form-bid .input-prepend.skype {width:49%;margin-left:14px;}
    .form-bid .form-textarea {width:99%;max-width:100%;}
    
    form#submit_bid_form .span5 {width:100%;}
    form#submit_bid_form .span7 {width:100%;margin-left:0px;}
    
    .pay-credit-get-contact .modal-body {padding: 15px 20px;}
    .pay-credit-get-contact .modal-footer {display: none; }
    .pay-credit-get-contact .contact-sms .contact-info {padding: 7px 0 0;}
    .pay-credit-get-contact .contact-sms .info-photo {display: none;}
    .pay-credit-get-contact .contact-sms .info-photo img {width: 70px; margin: 0 105px;}
    .pay-credit-get-contact .contact-sms .info-detail {margin: 0; width: 100%; padding: 10px;}
    .pay-credit-get-contact .contact-sms .info-detail p {text-align: center;}
    .pay-credit-get-contact .contact-sms .info-detail p span.info-label{display: none;}
    .pay-credit-get-contact .contact-sms .info-detail p.full-name {font-size: 15px;}
    .pay-credit-get-contact .contact-sms .suggest-create-job {padding: 25px 25px 15px; margin: 25px 0px 10px;}
    #pay-credit-contact-client .contact-sms .suggest-create-job {padding: 15px 15px 5px; margin: 25px 0px 10px;}
    #pay-credit-contact-client .contact-sms .suggest-create-job p {line-height: initial; font-size: 13px; text-align: justify;}
    
    /* workdii_homepage */ 
    .headerslider .span6 {width:100%;}
    .main-top-overlay .container {width:620px;}
    .main-top-overlay .col-right {padding-left:0px;margin-left:0px;}
    .how-it-works.sprite-my .span4 {width:100%;}
    .services-grid .span4 {width:100%;margin-left:0px !important;margin-bottom:15px;}
    .headerslider .logo-big {margin: 0px auto 40px;}
    .main-top-overlay .col-left h2 {text-align:center;}
    .headerslider p.desc {text-align: center;}
    
    /* Workroom */
    .overlay-bidform.compact-style {width: 590px;}
    .out-of-bid.compact-style {margin: 25px 30px;}
    
    /* email invite */
    .invite-friend .form-invite-email {width:620px;}
    .invite-friend .mail-invited {width:620px;}
    #form-invite-email .network-socail-gmail {width:100%;margin-left:0px;text-align: center;}
    #form-invite-email .network-socail-gmail .button-gmail {padding: 12px 58px 12px 87px;background-position: 59px 14px;margin-top:0px;margin-left:0px;}
    #form-invite-email .form-input {padding-right:0px;width:100%;text-align: center;}
    #form-invite-email .button-invite {width:320px;margin:auto;margin-top:10px;}
    .network-socail-gmail .text-choice {right:-277px;top:77px;position:initial;}
    .network-socail-gmail .text-note {margin-left:0px;}
    .social-invite-mail {width:620px;}
    .invite-friend .text-email-invited {width:620px;}
    .invite-friend .control-group.description_inviteemail {width:320px;margin:auto;}
    .description_inviteemail #form_list_email {padding:8px 6px 6px;}
    
    /* Category view page */
    .sub-category .item img{border-radius: 3px; min-height: 180px;}
    .top-freelancer .block-top-freelancer.first{margin-left: 15px;}
    .block-top-freelancer .block-info p:first-child {margin-left: 0px;}
    .top-freelancer .big-block-top-freelancer{padding-left: 0;}
    
    /* proflie freelancer */
    .job-list.portfolios .three-img-profile {width:562px;}
    .job-list.portfolios .img-profile {width:185px;}
    .job-list.job-worked .description {padding:3px;}
    .img-profile.slick-slide img {width:162px;}
    .col3-left .id_profile {text-align: left;}
    
    /* list suggest freelancer */
    .client-view-bottom .open-popup-suggest{width: 145.094px; height: 155px;}
    .client-view-bottom .open-popup-suggest .block-button a{width: 85px;}
    .freelan-invite img.blur{margin: 0px 33px 0px;}
    
    /* service */
    .block-top-freelancer.last-service{display: none;}
    
    /* navbar top */
    .nav-account .account-menu a.dropdown-toggle {max-width: 260px;}
    
    /*** Contest-cuoc thi ***/ 
    .job_contest_view .news-detail {width:100%;}
    .job_contest_view .job-information {width:100%;margin-left:0px;}
    .job_contest_view .guider-block img {height:auto;}
    #block-confirm-apply .span4 {margin-left:0px;}
    .create-contest .header .container {width:640px;}
    .create-contest .header .span6 {width:100%;}
    .create-contest .header .side-right {margin-top:50px;}
    .progress-contest .step {padding-right: 34px;padding-left: 34px;text-align: center;width: 242px;height: 70px;}
    .progress-contest .step.first {padding-left:34px;}
    .progress-contest .step.last {width:242px;}
    /*** End contest-cuoc thi ***/
    
    /*** trang hướng dẫn khách hàng ***/
    .block-head .container,.block-step .container,.block-deposit-note .container,.block-view-more .container {width:620px;}
    .block-statistics-section .container {width:620px;}
    .block-statistics-section .count-job, .block-statistics-section .count-client {width:310px;}
    /* hướng dẫn cách thuê freelancer */
    .guider-hire-fl .guider-step1-section .span7,.guider-hire-fl .guider-step3-section .span7 {width:100%;margin-bottom:50px;text-align: center;}
    .guider-hire-fl .guider-step2-section .span5,.guider-hire-fl .guider-step4-section .span5 {width:100%;margin-left:0px;}
    .guider-hire-fl .guider-step4-section .span7,.guider-hire-fl .guider-step2-section .span7 {margin-bottom:50px;}
    .guider-hire-fl .guider-text {width:100%;text-align: center;}
    .guider-hire-fl .guider-step1-section img,.guider-hire-fl .guider-step2-section img,.guider-hire-fl .guider-step3-section img,.guider-hire-fl .guider-step4-section img {width:auto; height:auto;}
    .guider-hire-fl .guider-more .container {padding: 50px 0px;}
    .guider-hire-fl .guider-more .article-list {-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;}
    
    /* huong dan khach trang khác */
    .block-step img {margin-left:0px;height:auto;}
    .block-step .separater, .block-step .separater-step-2 {margin-left:130px;}
    .guider-step-note {padding-left:0px;}
}


/***** IPHONE/MOBILE PORTRAIT *****/
@media (max-width: 639px) {   
    .mp-lh6 {line-height: 48px;}
    /* head */
    .navbar-static-top.nav-new .menu-item a {line-height:20px;}
    .navbar-static-top.nav-new li.first a {padding-top:17px;padding-left:12px;padding-bottom:5px;}
    .navbar-static-top.nav-new li.second a {padding-bottom:5px;}
    .navbar-static-top.nav-new .btn-connect {width:100%;padding-top:4px;}
    .navbar.nav-new .btn-connect .btn {padding: 6px 19px;}
    .nav-new .login-vlance .create-account-vlance {margin-bottom:10px;}
     /*** ladding-page ***/
    .navbar-static-top.nav-new .container {width:320px;}
    .homepage-new .jumbotron-new.subhead h1 {width:auto;font-size:46px;line-height: 54px;}
    .homepage-new .jumbotron-new-content.display_block {width:320px;}
    .homepage-new .jumbotron-new-content ul .angle-right {display: none;}
    .homepage-new .jumbotron-new-content ul li {margin-bottom:15px;width:60%;text-align: left;}
    .homepage-new .jumbotron-new-content ul li:first-child,.homepage-new .jumbotron-new-content ul li:last-child {width:60%;} 
    .homepage-new .jumbotron-new-content ul li span {right:0px;}
    
    .homepage-new .jumbotron-new.carousel-subhead_1 {padding-top: 86px;padding-bottom: 90px;}
    .homepage-new .jumbotron-new.carousel-subhead_1 h1, .homepage-new .jumbotron-new.carousel-subhead_2 h1 {width:320px;font-size: 38px;}
    .carousel-control-next .active {margin-left: 30px;margin-right: 30px;}
    
    /* page login and register*/
    .float-box-section .login-box,.float-box-section .signup-box {width:320px}
    .float-box-section.head-box .modal-close button {margin-top:20px;}
    .signup-box .modal-close button {margin:8px 0 0px;}
    
    /* step-explain-section */
    .step-explain-section .step-detail .container {width:320px;}
    .step-explain-section .image-left {width:100%;}
    .step-explain-section .quotes-right {padding-left:0px;width:100%;text-align: center;}
    .step-explain-section .image-right {padding-left:0px;width:100%;text-align: center;}
    .step-explain-section .quotes-left {width:100%;margin-bottom:20px;text-align: center;}
    .step-explain-section .quotes-right h4 {margin-top:20px;font-size:26px;line-height: 48px;}
    .step-explain-section .quotes-left h4 {font-size:30px;line-height: 48px;}
    .step-explain-section .quotes-right p {width:auto;}
    
    /* top-jobs-section */
    .top-jobs-section .top-job-title {margin:auto;width:320px;line-height: 40px;}
    .top-jobs-section .job-list.container {width:320px;}
    .top-jobs-section .job-row {margin-bottom:0px;}
    .top-jobs-section .job-item {margin-left:0px;margin-bottom:20px;padding-left:0px;width:100%;}
    .top-jobs-section .job-item:first-child {padding-left:0px;}
    .top-jobs-section .item-title {margin-top:10px;padding-right:0px;}
    .top-jobs-section .job-item-show {margin:auto;}
    .job-item .item-thumbnail {text-align: center;}
    
    /* reviews-section */
    .review-clients.container {width:320px;}
    .reviews-section .review-client-title {width:320px;margin:auto;text-align: center;}
    .stats-col-left-new .stats-col {width: 49%;}
    .slick-slider .slick-next {right:-6px;}
    .slide-reviews .slick-prev {left:-6px;} 
    
    /* review-media */
    .review-media .container {width:320px;}
    .homepage-new .stats-col-left-new .stats-col {width:100%;margin:auto}
    .homepage-new .stats-col-left-new .stats-row i.cat-dantri {background-position: 30px -241px;}
    .homepage-new .stats-col-left-new .stats-row i.cat-kt {background-position: -521px -241px;}
    .homepage-new .stats-col-left-new .stats-row i.cat-vietnamnet {background-position: -1080px -241px;}
    .homepage-new .stats-col-left-new .stats-row i:hover {background-position-y: -321px;}
    .homepage-new .stats-col-left-new .stats-row i.cat-dantri:hover {background-position: 30px -321px;}
    .homepage-new .stats-col-left-new .stats-row i.cat-kt:hover {background-position: -521px -321px;}
    .homepage-new .stats-col-left-new .stats-row i.cat-vietnamnet:hover {background-position: -1080px -321px;}
    
    /* landing-statistics-section */
    .landing-statistics-section .container {width:320px;}
    .landing-statistics-section .count-job {margin-left: 0px;width:auto;}
    .landing-statistics-section .count-client {margin-left:60px;width:auto;text-align: right;}
    .landing-statistics-section p span {font-size:38px;}
    /* professional-apply-section */
    .professional-apply-section .professional-apply-title {margin:auto;padding-top:42px;width:320px;font-size:38px;line-height: 48px;}
    .professional-apply-register {font-size:16px;}
    .professional-apply-section .title {padding-top:48px;font-size:38px;}
    .professional-apply-button .btn-vl-special {font-size:18px;}
    /* footer-links-section */
    .footer-links-section.grey-bg .container {width: 320px;}
    .footer-links-parter .container {width: 320px;}
    .footer-links-section.grey-bg .span2 {min-height:160px;}
    /* bottom-logo */
    .bottom-logo .container {width: 320px;}
    .bottom-logo .container .row-fluid {margin-bottom:10px;}
    .bottom-logo .container .span9 {width:100%;}
    .bottom-logo .container .span3 {width:100%;margin-left: 0px;}
    .bottom-logo .switch-language {margin-top:20px;width:100%;}
    .bottom-logo .vlance-logo a {width:100%;}
    .bottom-logo .vlance-logo p {width:65%;}
    .bottom-logo .footer-language {padding-right:0px;}
    .bottom-logo .footer-payment {margin-top:15px;}
    /*** End ladding-page ***/
    
    /* edit account */ 
    .edit-form .dl-horizontal dd {margin-left:0px;}
    .edit-form .dl-horizontal dt {margin-bottom:5px;padding-top:20px;float:none;}
    .edit-form .images img {margin-top:5px;}
    .edit-form input {margin-bottom:7px;width:266px;}
    .edit-form textarea {min-width: 295px;}
    .edit-form .datepicker-widget input {width:240px;}
    .edit-form .datepicker-widget .add-on {position: initial;}

    /** Deposit 10% to send message to freelancer **/
    body.one-column.job_show.job_show_freelance_job .guider-block-after-post-job {width: 100%; margin-left: 0;}

    /* Credit form */
    .modal-credit {width: 320px;left: 50%; margin-left: -160px;}
    .modal-credit.fade.in {top:2%;}
    .modal-credit .load-spinner img {margin: 130px 130px;}
    .modal-credit .screen-confirm .preview {display: none;}
    
    /* Bid form */
    form#submit_bid_form {width:100%;}
    form#submit_bid_form .span5 {width:100%; padding:0px 0px;}
    form#submit_bid_form .span7 {width:inherit;margin-left:0px}
    
    .form-bid .hr-line-0{margin: 10px 0px;}
    .form-bid .span7 .hr-line-0 {margin:20px 0 24px;}
    .form-bid .hr-line-10{display: none;}
    .form-bid .dl-horizontal {height:35px;}
    .form-bid .dl-horizontal dt{width: inherit; margin-top: 13px;}
    .form-bid .dl-horizontal dd{width: inherit; margin-left: 107px;}
    .form-bid .input-append{margin-left: 11px;}
    .form-bid .input-append input{width: 70%;}
    .form-bid .bidtype_pay .input-append {width:90%;margin-top:0px;margin-left:20px;}
    .form-bid .input-prepend input{padding: 10px 0px 10px 0px;}
    .form-bid .input-prepend.telephone {width:43%;margin-right:20px;}
    .form-bid .input-prepend.skype {width:45%;margin-left:0px;}
    .form-bid .input-prepend .add-on {padding:4px 0px;border-radius: 5px 0px 0px 5px;}
    .form-bid .block-submit{width: initial; margin-right: 0px; margin-top: 15px; margin-bottom: 5px; padding-bottom: 0px;}
    .job_show.job_show_freelance_job .form-bid .form-textarea{width: 278px; max-width: 278px; min-width: 278px;font-size:12px;}
    .form-bid .block-amount .block-amount-detail{padding: 10px 10px 26px;}
    .form-bid label.error{padding: 0px 17px 0px 5px; width: initial;}
    .form-bid label.error.contact{width: 92%;}
    .form-bid .bidtype_description {margin-right: 5px;}
    .form-bid .bidtype_introdescription {margin-right: 35px;}
    .form-bid .ques-text{margin-right: 10px;}
    .form-bid .input-prepend input{width: 80%;border-radius: 0px 4px 4px 0px;}
    
    /* đấu thầu */
    .job_show .detail-bottom.span12{width: inherit;}
    
    /* workdii_homepage */
    .main-top-overlay .container {width:320px;}
    .stories .each-story {width: 90%;}
    
    /* workdii_service_job */
    .content-section.create-service-job {width:100%;}
    .content-section.create-service-job .container {width:100%;}
    .create-service-job .whitebase .span5 {width:100%;}
    .create-service-job .whitebase .span7 {width:100%;}
    .service-request-form {border-left:0px;}
    .service-request-form .form-group {padding-left:5px;}
    
    /* Workroom */
    .overlay-bidform.compact-style {width: 290px;}
    .out-of-bid.compact-style {margin: 10px 0; width: 270px; padding: 10px 10px 0px;}
    .out-of-bid.compact-style h2 {font-size: 20px; font-weight: 600; line-height: 1.3em;}
    
    /* email invite */
    .invite-friend .form-invite-email {width: 320px;}
    .invite-friend h2 {margin-left:0px;text-align: center;}
    .invite-friend .mail-invited {width:320px;}
    .social-invite-mail{width:320px;height:200px;}
    .social-invite-mail .input-prepend {margin-bottom: 24px;}
    .social-invite-mail input {width: auto;}
    .social-invite-mail .btn-facebook-share {margin-left:0px;}
    .invite-friend .text-email-invited{width:320px;}
    #form-invite-email .button-invite {margin-top:15px;}
    #form-invite-email .network-socail-gmail {padding-top:20px;}
    #form-invite-email .network-socail-gmail .button-gmail {margin-top:10px;margin-left:0px;}
    .network-socail-gmail .text-note {margin-left: 22px;}
    .network-socail-gmail .text-choice {top:12px;right:-139px;}
    
    /* login-invite-email */
    .signup-email-invite .signup-section {margin-top:20px;}
    .signup-email-invite .login-socail-network {width:320px;}
    .signup-email-invite .btn-facebook {margin-right:0px;}
    .signup-email-invite .btn-google-plus {padding: 8px 40px 5px;}
    .signup-email-invite .btn-linkedin {padding: 8px 37px 5px;}
    .signup-email-invite .login-choice {width:320px;}
    .signup-email-invite .login-choice img {width:138px;}
    .signup-email-invite #register_submit {width:320px;}
    .signup-email-invite .register-type {width:320px;}
    .header-login-invite p {padding-top:42px;line-height:36px;}
    #signup-invite-form .control-group input {width:320px;}
    .signup-email-invite .signup-section h1 {width:320px;}
    .signup-email-invite .text-note {width:320px;}
    
    /* Category view page */
    .category-view .category-content{margin-left: 0;}
    .category-cta{width: initial;}
    .category-view.container{margin-bottom: 0;}
    
    .banner-single-post .container .entry-meta a{font-size: 18px;color: #FFF;}
    .banner-single-post .container .entry-meta{margin-top: 20px; margin-bottom: 15px;}
    
    .top-freelancer .top-freelancer-title{margin-left: 10px;}
    .top-freelancer .big-block-top-freelancer{width: 180px; margin: auto;}
    .top-freelancer .block-top-freelancer{margin-right: 0; margin-left: 0;}
    .top-freelancer.container{margin-top: 0;}
    .top-freelancer h2{line-height: initial;}
    .top-freelancer .block-top-freelancer{margin-bottom: 10px;}
    .top-freelancer .block-top-freelancer.first{margin-left: 0px;}
    .top-freelancer .block-top-freelancer.four{display: none;}
    .top-freelancer .block-top-freelancer.five{display: none;}
    .top-freelancer .block-top-freelancer.last{display: none;}
    
    .post-job-category .block-statistics {padding: 20px; margin-top: 0; margin-bottom: 0;}
    .post-job-category .block-statistics .counted a{font-size: 20px;}
    
    .job-projects .table .table-name-column {display: none;}
    .job-projects .table .table-statistics td {display: inline-table; text-align: center;}
    .job-projects .table .table-statistics td.span2 {width: 100px;}
    .job-projects .table .table-statistics .cut-on-mobile{display: none;}
    .job-projects .table .table-statistics .job-Location {display: none;}
    .job-projects .table .table-statistics .job-Block-Bid .numBid {display: none;}
    .job-projects .table .table-statistics .job-Block-Bid{border-top: none;}
    .job-projects .table .table-statistics .job-Budget{border-top: none;}
    .job-projects .table .table-statistics .job-Deadline{border-top: none;}
    .job-projects .table td:first-child{width: 310px; text-align: left;}
    .job-projects .table .text{margin-left: 0;}
    .job-projects .table-footer{margin-top: 10px;}
    .job-projects .block-job-projects{margin-left: 10px;}
    
    .post-job-category .block-post-job{padding: 20px;}
    
    .other-category-footer .block-other-category{margin-left: 10px;}
    
    /* footer-partner */
    .footer-links-parter .vl-relationship {margin-left: 10px; width: 310px;}
    .vl-funding .google-footer {margin-right: 20px;}
    .vl-funding .aws-footer {margin-right: 20px;}
    
    /* proflie freelancer */
    .job-list.job-worked .job-item .span2 {display:none;}
    .job-list.job-worked .description {width: 33.404255%;}
    .job-list.portfolios .three-img-profile {width:265px;}
    .job-list.portfolios .img-profile {width:180px !important;padding-right:38px;padding-left:40px}
    .job-list.job-hired .span2 {display:none;}
    .job-list.job-hired .job-comment {width: 61.446809%;}
    .job-list.job-hired .description {width: 33.404255%;}
    .job-list.job-hired .description .price {float:right;}
    .job-item .description .rating-number {display:none;}
    .account_show.account_show_freelancer #right_content {margin-left:0px;}
    .account_show_freelancer #right_content {margin-left:0px;margin-top:25px;}
    .account_show_freelancer .col2-left.span8 #main_content .left-profile {padding-left:0px;margin-bottom: 20px;}
    .col3-center.right-profile .career {text-align: center;}
    .col3-center .regional-price {text-align: center;}
    .col2-left.span8 #main_content .avata{width: 100%;text-align: center;}
    .col3-left .id_profile {margin-top:167px;text-align: center;}
    .col3-left .time-online-last {text-align: center;}
    .col3-left .avata .update-link a {width:320px;}
    .img-profile.slick-slide img {width:180px;}
    .profile-content .overview .body,.profile-content .overview h2 {padding-left:5px;padding-right:5px;}
    .summary-profile.mobile {display: block !important;-webkit-box-shadow: 0px 1px 2px 0px #C4C4C4;box-shadow: 0px 1px 2px 0px #DADADA;}
    .summary-profile.mobile h2 {border-bottom: 0px;}
    .summary-profile.mobile .list-summary-profile {padding-bottom:5px;}
    
    /* list suggest freelancer */
    .modal{width: 320px; margin-left: -159px; margin-right: 6px;}
    .btn-invite-suggested{padding: 3px 6px 3px;}
    .suggested-freelancer{padding: 8px;}
    .client-view-bottom .open-popup-suggest{width: 144px; margin: 8px;}
    .freelan-invite img.blur{margin: 0px 31px 0px;}
    .suggested-freelancer .profile-suggested-fl .info-fl .name-fl .checked{display: none;}
    .suggested-freelancer .profile-suggested-fl .info-fl .title-fl {display: none;}
    .suggested-freelancer .button-invite-suggested-fl a{margin-top: 2px;}
    .suggested-freelancer .load-spinner {padding: 25px 17px;}
    
    /* service */
    .block-top-freelancer.cut-on-mobile{display: none;}
    
    /* when register will get credit */
    .account_register_by_referrer .top-bg p {padding-top:48px;line-height: 52px;width:320px;margin:auto;}
    .account_register_by_referrer .register-credit {width:320px;}
    .register-credit .btn-linkedin {padding:8px 40px 7px}
    .register-credit .btn-google-plus {padding: 9px 43px 7px;}
    .register-credit .choice-register img {width:134px;}
    .register-credit #signup-freelancer-form input {width:298px;}
    .register-credit #fos_user_registration_form_city, .register-credit #fos_user_registration_form_category {width:320px;}
    .register-credit input#fos_user_registration_form_type_0, .register-credit input#fos_user_registration_form_type_1 {width:auto;}
    .register-credit h1 {margin-top:32px;}
    
    /* share link fb */
    #noti-ctc{margin-right: 0px;}
    
    /* trang credit */
    td.transaction-date {min-width: initial;}
    th.credit-payment {padding-right:8px;}
    td.transaction-price {min-width:initial;max-width: initial;}
    td.transaction-note {min-width: initial;}
    .table th, .table td {padding-left:2px;padding-right:2px}
    
    /* navbar top */
    .nav-account .account-menu a.dropdown-toggle {max-width: 142px;}
    
    /* Xac thuc tai khoan */
    .title-verify-account {padding:0 15px;}
    .verify-account .explain-content .span6 {width:100%;margin:0px 0px 10px 0px;}
    .verify-account .edit-form {width:100%;}
    .verify-account .edit-form .span7 {width:100%;}
    .two-columns-left-small .nav-tabs li {height:50px;}
    .account_basic_edit .edit-form {padding:0px 15px;}
    .account_basic_edit .edit-form select {width:288px;}
    form#form-create-id-number .span7, form#form-create-id-number .span5 {margin-top:0px;}
    
    .edit-form .images-id{width: 286px;}
    .edit-form .images-id img{width: 286px;}
    .edit-form select{width: 286px;}
    
    /* inbox */
    .inbox-menu .block-new-message {width:320px;right:-5px;}
    
    /* Create job page */
    .one-column .create-job {width:320px;}
    .one-column .create-job  .span10.offset2 {width:100%;margin-left:0px;}
    .create-job .edit_job_title {line-height: 48px;}
    #edit-job-form .control-group.service_wrapper {margin-left:0px}
    #edit-job-form #vlance_jobbundle_jobtype .span10 {width:100%;margin-left:0px;}
    #edit-job-form #vlance_jobbundle_jobtype .span2 {display:none;}
    .post-job .more-options .span2 {display:none;}
    .create-job .form-cread-job-btn .span5, .create-job .form-cread-job-btn .span10 {width:100%;}    
    .create-job .form-cread-job-btn .accept-agreement {width:100%;margin-top:0px;padding-left:0px;}
    .create-job .primary-type .span10 {width:100%;margin-left:0px;}
    .post-job .offset2.job-closed-at {width:100%;margin-left: 0px;padding-right:0px;}
    .post-job .job-fl-city {width:100%;padding-right:0px;}
    .post-job .job-fl-experi {width:100%;margin-left:0px;padding-left:0px;}
    .post-job .wrapper.combo-row-1st {width:100%;padding-right:0px;}
    .post-job label.is-private label {width:270px;}
    .post-job .primary-type h4 {margin-bottom:0px;}
    .create-job .block-form-lr {width:100%}
    .create-job .block-lr .span2 {display: none;}  
    .create-job .block-lr .span10 {width:100%;margin-left:0px;}
    .create-job .block-type-user .span6 {margin-left:0px;}
    .block-form-lr .block-form-reg .span6 {width:100%;margin-bottom:10px;}
    .block-form-lr .block-form-log .span6 {width:100%;margin-left:0px;margin-bottom:10px;}
    .block-lr .block-form-lr .login-socail-network-label {margin-top:8px;}
    .block-lr .block-form-lr input {width:258px}
    .block-lr .block-form-lr .input-email, .block-lr .block-form-lr .re-pass {margin-left:0px;padding-left:0px;}
    .block-lr .block-form-lr .login-socail-network {text-align: center;}
    #reg-form .field {margin-bottom:0px;}
    .btn-social-fb-post-job {padding:6px 85px 3px;margin-bottom:10px;margin-right:0px;}
    .btn-social-nfb-post-job {margin-left:0px;padding-left:25px;padding-right:25px;}
    
    /*** Page job view not login ***/
    .job-show-not-login .description-view-job .container {padding-left:15px;padding-right:15px;}
    .job-show-not-login .guide-fl-find-job .container {padding-left:15px;padding-right:15px;}
    .description-view-job .span7 {width:100%;}
    .description-view-job .span5 {width:100%;padding-left:0px;}
    .job-show-not-login .guide-fl-find-job h4 {padding-left:0px;line-height:36px;}
    .job-show-not-login .guide-fl-find-job .span7 {width:100%;padding-left:0px;}
    .job-show-not-login .guide-fl-find-job .span5 {width:100%;margin-left:0px;}
    .job-show-not-login .project-view-fl h4 {line-height: 40px;}
    
    /* Contest-cuoc thi */ 
    .create-contest .header .container {width:320px;}
    .create-contest .progress-contest .container {width:320px;}
    .create-contest .side-left .content {width:320px;}
    .create-contest .header .side-right {margin-left:0px;}
    .create-contest .center-side {width:100%;margin-left:0px;}
    .create-contest .contest_title h1 {font-size:28px;}
    .create-contest .note-new-contest {margin-left:0px;}
    
    .form-contest-apply {display: inline-block;}
    .form-contest-apply .container {padding-left:15px;padding-right:15px;}
    .form-contest-apply .span7 {width:100%;}
    .form-contest-apply .span5 {width:100%;margin-top:20px;margin-left:0px;}
    .form-contest-apply .block-submit-btn {margin-top:0px;}
    .form-contest-apply .file_upload {padding-left:7px;}
    .form-contest-apply .note-image {margin-bottom:0px;}
    
    .job_contest_view .guider-block {padding: 15px 15px;}
    .job_contest_view .guider-block .span6 {width:100%;}
    .job_contest_view .guider-client-right {margin-top:10px;padding-left:0px}
    
    /* guider nạp tien contest */
    .guider-contest-block {width:320px;margin-left: -160px;}
    .guider-contest-block .guider-contest-title {margin-right:15px;}
    .guider-contest-block .content.step-contest {padding: 16px 10px 40px 10px;}
    .content.step-contest .span1 {width:13.382979%;}
    .content.step-contest .span11 {width: 84.489362%;}
    .content.step-contest .account-information {display:none;}
    .content.step-contest .account-information-mobile {display:initial;}
    .content.step-contest .account-information-mobile p {font-weight:700;}
    .content.step-contest .account-information-mobile span {margin-left:5px;font-weight:400;}
    
    /* page list-contest */
    .search-results .job-contest .span7 {width:100%;}
    .search-results .job-contest .span5 {width:100%;margin-top:10px;padding-left: 5px;}
    .search-results .product-fl {display: initial;}
    .search-results .product-fl.more.apply-fl {float:left;}
    .search-results .data-contest .span4 {text-align: right;}
    
    /* contest-statiscs */
    .job_contest_view .profile-contest {width:100%;margin:auto;margin-bottom:10px;}
    .job_contest_view .confirm-contest-apply .span8 {width:100%;text-align: center;}
    .job_contest_view .confirm-contest-apply .span4 {width:100%;text-align:center;margin-bottom:10px;margin-left:0px;}
    .job_contest_view .num-apply {padding:15px 0px 15px;}
    
    /*Navbar Mini*/
    .nav-menu .nav-contest-new {display: none;}
    /*** End contest - cuoc thi ***/
    
    /* hướng dẫn khách hàng */
    .guider-hire-fl .title-hire-fl {font-size:35px;line-height:40px;}
    .guider-hire-fl .title h3 {font-size:35px;}
    
    .block-head .container,.block-step .container,.block-deposit-note .container,.block-view-more .container {width:320px;}
    .block-head h1 {padding-top:50px;font-size:35px;line-height: 50px;}
    .block-step img {min-height:auto;}
    .block-step .separater, .block-step .separater-step-2 {width:300px;margin-left:8px;}
    .block-view-more a {width:auto;margin-bottom:10px;}
    
    .block-statistics-section .container {width:320px;}
    .block-statistics-section .count-job {margin-left: 0px;width:auto;}
    .block-statistics-section .count-client {margin-left:60px;width:auto;text-align: right;}
    .block-statistics-section p span {font-size:38px;}
    
    
}