@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.alt-h2 {
    font-size: 28px;
    font-weight: 300
}

@media (min-width: 768px) {
    .alt-h2 {
        font-size:34px
    }
}

@media (min-width: 1012px) {
    .alt-h2 {
        font-size:38px
    }
}

.alt-h0,.alt-h1,.alt-h2,.alt-h3,.alt-h4,.alt-h5,.alt-h6,.alt-lead {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif
}

.mb-1 {
    margin-bottom: 4px !important;
}
.mt-0 {
    margin-top: 0 !important;
}

.f1 {
    font-size: 26px !important
}

@media (min-width: 768px) {
    .f1 {
        font-size:32px !important
    }
}

.f2 {
    font-size: 22px !important
}

@media (min-width: 768px) {
    .f2 {
        font-size:24px !important
    }
}

.f3 {
    font-size: 18px !important
}

@media (min-width: 768px) {
    .f3 {
        font-size:20px !important
    }
}

.f4 {
    font-size: 16px !important
}

@media (min-width: 768px) {
    .f4 {
        font-size:16px !important
    }
}

.f5 {
    font-size: 14px !important
}

.f6 {
    font-size: 12px !important
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}
